/* Trivia Game
 Written by: Steve Harold
 Created: 12/5/2017
 Last Updated: 12/7/2017 */


.col-md-4 {
	background-color: transparent;	
}

.col-md-4 h3 {
	color: green;
}

.answer-div {
	margin: 5px;
	background-color: black;
	padding: 20px;
}

video#bgVideo {
position: fixed;
right: 0;
bottom: 0;
width: auto;
min-width: 100%;
height: auto;
min-height: 100%;
z-index: -100;    
background-size: cover;
}

#trivia {
	background-color: rgba(0,0,0,.5);
	margin-top: 5%;
	height: 70%;
}

#res-bg {
	background-image: url("../images/results.jpg");
	background-size: cover;
	background-position: 0% 50%;
	margin-top: 12%;
	height: 70%;
	padding: 50px 0 50px 0;
	filter: "alpha(opacity=50)";
}

#question {
	height: 100px;
}

* p,
* h3 {
	font-size: 30px;
	color: white;
}

#result h3 {
	color: black;
	font-weight: bold;
}