/* Trivia Game
 Written by: Steve Harold
 Created: 12/5/2017
 Last Updated: 12/9/2017 */

/* Main content containers */
#start-div,
#trivia,
#result {
	height: 70%;
	margin-top: 2.5%;
	background-color: rgba(0,0,0,.5);
	font-family: 'Bungee', cursive;
	font-size: 35px;
}

#message {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url("../images/answer-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 300px;
}

#start-div h1 {
	font-size: 50px;
	color: #00FF00;
}
/* Four answer choices */
.answer-div {
	margin: 8px;
	background-color: black;
	padding: 20px 5px;
	min-height:150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.answer-div {
	cursor: pointer;
	border-radius: 15px;
  	box-shadow: 0 9px #999;	
  	padding: 15px 25px;
  	outline: none;

}

.answer-div:hover {
	background-color: #00FF00;

}

.answer-div:active {
	box-shadow: 0 1px #FFFFFF;
  	transform: translateY(8px);
}

/* Background video */
video#bgVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;    
	background-size: cover;
}

/* Result */
#res-bg {
	background-image: url("../images/results.jpg");
	background-size: cover;
	background-position: 0% 50%;
	margin-top: 2.5%;
	height: 70%;	padding: 50px 0 50px 0;
	filter: "alpha(opacity=50)";
}

#result h3 {
	color: black;
	font-weight: bold;
}

#result-head {
	font-size: 35px;
}

/* Individual content divs */
#question {
	min-height: 100px;
}

#start {
	margin-bottom: 10px;
}

#number,
#timer,
#question,
#score,
#right-wrong,
#result,
.col-md-5 {
	font-family: 'Bungee', cursive;
	font-size: 35px;
}

#number h3,
#timer h3,
#question h3,
#score h3,
#right-wrong h3,
#result h3,
.col-md-5 h3,
#start-div p,
#replay p,
#indicator h3 {
	-webkit-text-stroke: 3px black;
	color: #00FF00;
	font-size: 35px;
}

